@import './styles/variables';

.app-container {
  font-family: $font-stack;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  main {
    width: 300px;
  }

  .header {
    h1 {
      color: $primary-color;
    }
  }
}
